@model List<TileO.ViewModels.Product_VM>
@{ 
    var productTypes = new List<TileO.ViewModels.ProductType_VM>();
    foreach (var item in Model)
    {
        foreach (var type in item.ProductTypes)
        {
            productTypes.Add(type);
        }
    }
}


        <div class="c__section">
            <div class="c__container">
                <div class="c__content">
                    <div class="tab__products">
                        <div class="tabs">
                            <h1 class="h-26">Products</h1>
                            @foreach (var product in Model)
                            {
                                 <div data-w-id="4ce3f9d2-75b9-c469-dbb9-7211b941e665" style="background-color:rgb(255,255,255)" class="tab">
                                    <a data-w-id="e956565f-a3d6-7512-297b-2d58858ec45e" style="color:rgb(211,173,38)" href="#" class="tab__links">@product.Title</a>
                                </div>

                            }
                          
                            @*<div data-w-id="4ce3f9d2-75b9-c469-dbb9-7211b941e665" style="background-color:rgb(255,255,255)" class="tab">
                                <a data-w-id="e956565f-a3d6-7512-297b-2d58858ec45e" style="color:rgb(211,173,38)" href="#" class="tab__links">Slabs</a>
                            </div>
                            <div data-w-id="b34be51b-da76-d32c-d687-85e69e42fae8" style="background-color:rgba(0,0,0,0)" class="tab">
                                <a data-w-id="b34be51b-da76-d32c-d687-85e69e42fae9" style="color:rgb(255,255,255)" href="#" class="tab__links">tiles</a>
                            </div>
                            <div data-w-id="bcd4b698-e03a-ffa4-1d85-6b106ad78153" style="background-color:rgba(0,0,0,0)" class="tab">
                                <a data-w-id="bcd4b698-e03a-ffa4-1d85-6b106ad78154" style="color:rgb(255,255,255)" href="#" class="tab__links">Countertops</a>
                            </div>
                            <div data-w-id="576e7dc4-a939-daf2-202c-1881edad3c7b" style="background-color:rgba(0,0,0,0)" class="tab">
                                <a data-w-id="576e7dc4-a939-daf2-202c-1881edad3c7c" style="color:rgb(255,255,255)" href="#" class="tab__links">Vintage</a>
                            </div>
                            <div data-w-id="f1622e85-1cec-96e3-f07b-f9d7183980e5" style="background-color:rgba(0,0,0,0)" class="tab">
                                <a data-w-id="f1622e85-1cec-96e3-f07b-f9d7183980e6" style="color:rgb(255,255,255)" href="#" class="tab__links">Pool</a>
                            </div>
                            <div data-w-id="f4cb4553-f6e7-1b27-85ae-92ef490a13ea" style="background-color:rgba(0,0,0,0)" class="tab">
                                <a data-w-id="f4cb4553-f6e7-1b27-85ae-92ef490a13eb" style="color:rgb(255,255,255)" href="#" class="tab__links">Roofing</a>
                            </div>
                            <div data-w-id="40777d72-95b9-a48d-0902-c69f2c928f84" style="background-color:rgba(0,0,0,0)" class="tab">
                                <a data-w-id="40777d72-95b9-a48d-0902-c69f2c928f85" style="color:rgb(255,255,255)" href="#" class="tab__links">Outdoor</a>
                            </div>
                            <div data-w-id="051e8cb3-9949-b9c3-a37f-e3beb9ecae3f" style="background-color:rgba(0,0,0,0)" class="tab">
                                <a data-w-id="051e8cb3-9949-b9c3-a37f-e3beb9ecae40" style="color:rgb(255,255,255)" href="#" class="tab__links">Sanitary Ware</a>
                            </div>*@
                        </div>

                        <div class="tab__info">
                            @foreach (var item in Model)
                            {
                                <div data-w-id="157d4974-7fad-9871-7a63-a7385d7ebd16" style="display:flex" class="tabs__content">
                                    <div id="slabs" class="slabs">
                                        <h1 class="heading-3">@item.Title</h1>
                                        <div class="div-block-21"></div>
                                        <div class="p-16">@item.Description</div>
                                        <div class="div-block-22">
                                            <ul role="list">
                                                @if (item.ProductTypes.Count > 0)
                                                {
                                                    @foreach (var type in item.ProductTypes)
                                                    {
                                                        <li class="list__item">@type.Title</li>
                                                    }
                                                }
                                            </ul>
                                                @*<ul role="list">
                                                    <li class="list__item">Tagina</li>
                                                    <li class="list__item">Signature Tiles</li>
                                                </ul>*@
                                        </div>
                                    </div>
                                    <div class="div-block-25">
                                        <img src="@item.ImageUrl" loading="lazy" width="350" sizes="100vw" ><img src="/frontendassets/images/pexels-max-vakhtbovych-6297086_2.png" loading="lazy" sizes="100vw" srcset="images/pexels-max-vakhtbovych-6297086_2-p-500.png 500w, images/pexels-max-vakhtbovych-6297086_2.png 562w" alt="" class="image-13">
                                        <h1 class="h-40 is--abs">@item.Title</h1>
                                    </div>
                                </div>
                            }
                            @*<div data-w-id="157d4974-7fad-9871-7a63-a7385d7ebd16" style="display:flex" class="tabs__content">
                                <div id="slabs" class="slabs">
                                    <h1 class="heading-3">Slabs</h1>
                                    <div class="div-block-21"></div>
                                    <div class="p-16">Our range of slabs features large dimensions, adding alayer of luxury and elegance to your space, according to your own measures of aperfect fit.</div>
                                    <div class="div-block-22">
                                        <ul role="list">
                                            <li class="list__item">Tagina</li>
                                            <li class="list__item">Signature Tiles</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="div-block-25">
                                    <img src="/frontendassets/images/1.png" loading="lazy" width="350" sizes="100vw" srcset="images/1-p-500.png 500w, images/1-p-800.png 800w, images/1.png 805w" alt=""><img src="/frontendassets/images/pexels-max-vakhtbovych-6297086_2.png" loading="lazy" sizes="100vw" srcset="images/pexels-max-vakhtbovych-6297086_2-p-500.png 500w, images/pexels-max-vakhtbovych-6297086_2.png 562w" alt="" class="image-13">
                                    <h1 class="h-40 is--abs">slab</h1>
                                </div>
                            </div>*@
                            @*<div data-w-id="e5035d39-a4fe-f016-348a-a378fd62655a" style="display:none" class="tabs__content _1">
                                <div id="slabs" class="slabs">
                                    <h1 class="heading-3">Tiles</h1>
                                    <div class="div-block-21"></div>
                                    <div class="p-16">From tiling bathrooms, kitchens and every other space,our collection offers a wondrous array of patterns, colors and sizes that allcommit to the highest ends of beauty and design. </div>
                                    <div class="div-block-22">
                                        <ul role="list">
                                            <li class="list__item">Tagina</li>
                                            <li class="list__item">Signature Tiles</li>
                                            <li class="list__item">Signature Tiles</li>
                                            <li class="list__item">Signature Tiles</li>
                                        </ul>
                                        <ul role="list">
                                            <li class="list__item">Tagina</li>
                                            <li class="list__item">Signature Tiles</li>
                                            <li class="list__item">Signature Tiles</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="div-block-25">
                                    <img src="/frontendassets/images/pexels-max-vakhtbovych-7166551_1.svg" loading="lazy" width="330" height="300" alt=""><img src="/frontendassets/images/pexels-max-vakhtbovych-6297086_2.png" loading="lazy" sizes="100vw" srcset="images/pexels-max-vakhtbovych-6297086_2-p-500.png 500w, images/pexels-max-vakhtbovych-6297086_2.png 562w" alt="" class="image-13">
                                    <h1 class="h-40 is--abs">tiles</h1>
                                </div>
                            </div>*@
                            @*<div data-w-id="01284443-24b1-85a0-cf3a-add88994bdb4" style="display:none" class="tabs__content _1">
                                <div id="slabs" class="slabs">
                                    <h1 class="heading-3">Countertops</h1>
                                    <div class="div-block-21"></div>
                                    <div class="p-16">Top it up with our customized countertops featuring the same design and material of your floor and wall tiles so that you can confidently sign your space with an all-marvelous effect.</div>
                                    <div class="div-block-22">
                                        <ul role="list"></ul>
                                        <ul role="list"></ul>
                                    </div>
                                </div>
                                <div class="div-block-25">
                                    <img src="/frontendassets/images/pexels-max-vakhtbovych-7166551.png" loading="lazy" width="350" sizes="100vw" srcset="images/pexels-max-vakhtbovych-7166551-p-500.png 500w, images/pexels-max-vakhtbovych-7166551.png 562w" alt=""><img src="/frontendassets/images/pexels-max-vakhtbovych-6297086_2.png" loading="lazy" sizes="100vw" srcset="images/pexels-max-vakhtbovych-6297086_2-p-500.png 500w, images/pexels-max-vakhtbovych-6297086_2.png 562w" alt="" class="image-13">
                                    <h1 class="h-40 is--abs">Countertops</h1>
                                </div>
                            </div>*@
                            @*<div data-w-id="7015752e-f2bc-a0cc-2252-b8c77cab88c0" style="display:none" class="tabs__content _1">
                                <div id="slabs" class="slabs _1">
                                    <h1 class="heading-3"><strong>Vintage</strong></h1>
                                    <div class="div-block-21"></div>
                                    <div class="p-16">Here are modern styles that can also take you back intime, thanks to the multiple effects and versatility of our tiles, which never comewithout a twist.</div>
                                    <div class="div-block-22">
                                        <ul role="list">
                                            <li class="list__item">Tagina</li>
                                        </ul>
                                    </div>
                                    <div class="div-block-22">
                                        <ul role="list">
                                            <li class="list__item">Tagina</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="div-block-25">
                                    <img src="/frontendassets/images/pexels-max-vakhtbovych-7166551_4.svg" loading="lazy" width="350" alt=""><img src="/frontendassets/images/pexels-max-vakhtbovych-6297086_2.png" loading="lazy" sizes="100vw" srcset="images/pexels-max-vakhtbovych-6297086_2-p-500.png 500w, images/pexels-max-vakhtbovych-6297086_2.png 562w" alt="" class="image-13">
                                    <h1 class="h-40 is--abs">vintage</h1>
                                </div>
                            </div>*@
                            @*<div data-w-id="9af3b7dd-9e1f-b24d-28f1-88011515fe80" style="display:none" class="tabs__content _1">
                                <div id="slabs" class="slabs _1">
                                    <h1 class="heading-3">Pool</h1>
                                    <div class="div-block-21"></div>
                                    <div class="p-16">Introducing one of the most innovative swimming pooltiles and mosaics, our selection of different designs and touches of bluebrings you a feeling that is fresh yet deeply inspiring.</div>
                                    <div class="div-block-22">
                                        <ul role="list">
                                            <li class="list__item">Tagina</li>
                                        </ul>
                                    </div>
                                    <div class="div-block-22">
                                        <ul role="list">
                                            <li class="list__item">Tagina</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="div-block-25">
                                    <img src="/frontendassets/images/5.png" loading="lazy" width="350" sizes="100vw" srcset="images/5-p-500.png 500w, images/5-p-800.png 800w, images/5.png 805w" alt=""><img src="/frontendassets/images/pexels-max-vakhtbovych-6297086_2.png" loading="lazy" sizes="100vw" srcset="images/pexels-max-vakhtbovych-6297086_2-p-500.png 500w, images/pexels-max-vakhtbovych-6297086_2.png 562w" alt="" class="image-13">
                                    <h1 class="h-40 is--abs">pool</h1>
                                </div>
                            </div>*@
                            @*<div data-w-id="829fc47c-dd65-fb55-9d49-75932e9a55a8" style="display:none" class="tabs__content _1">
                                <div id="slabs" class="slabs">
                                    <h1 class="heading-3">Roofing</h1>
                                    <div class="div-block-21"></div>
                                    <div class="p-16">Our extensive roofing collection presents you with thetechnical excellence of long-lasting and weatherproof tiles that can shape boththe outer beauty and the internal environment of your spaces.</div>
                                    <div class="div-block-22"></div>
                                </div>
                                <div class="div-block-25">
                                    <img src="/frontendassets/images/pexels-max-vakhtbovych-7166551_3.svg" loading="lazy" width="350" alt=""><img src="/frontendassets/images/pexels-max-vakhtbovych-6297086_2.png" loading="lazy" sizes="100vw" srcset="images/pexels-max-vakhtbovych-6297086_2-p-500.png 500w, images/pexels-max-vakhtbovych-6297086_2.png 562w" alt="" class="image-13">
                                    <h1 class="h-40 is--abs">roofing</h1>
                                </div>
                            </div>*@
                            @*<div data-w-id="cb3e83b6-19ce-b429-6173-e9add5da09b3" style="display:none" class="tabs__content _1">
                                <div id="slabs" class="slabs">
                                    <h1 class="heading-3">Outdoor</h1>
                                    <div class="div-block-21"></div>
                                    <div class="p-16">Proving to be a valuable investment, these 2 cm-thickoutdoor tiles are not only on-trend but also a highly functional and durableimpact rarely achieved on the other side of your doorstep.</div>
                                    <div class="div-block-22">
                                        <ul role="list">
                                            <li class="list__item">Tagina</li>
                                        </ul>
                                    </div>
                                    <div class="div-block-22">
                                        <ul role="list">
                                            <li class="list__item">Tagina</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="div-block-25">
                                    <img src="/frontendassets/images/pexels-max-vakhtbovych-7166551.svg" loading="lazy" width="350" alt=""><img src="/frontendassets/images/pexels-max-vakhtbovych-6297086_2.png" loading="lazy" sizes="100vw" srcset="images/pexels-max-vakhtbovych-6297086_2-p-500.png 500w, images/pexels-max-vakhtbovych-6297086_2.png 562w" alt="" class="image-13">
                                    <h1 class="h-40 is--abs">outdoor</h1>
                                </div>
                            </div>*@
                            @*<div data-w-id="42d69870-8d96-a036-fa7f-b6fe77cd23bb" style="display:none" class="tabs__content _1">
                                <div id="slabs" class="slabs">
                                    <h1 class="heading-3">Sanitary Ware</h1>
                                    <div class="div-block-21"></div>
                                    <div class="p-16">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.</div>
                                    <div class="div-block-22">
                                        <ul role="list">
                                            <li class="list__item _1">Tagina</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="div-block-25">
                                    <img src="/frontendassets/images/pexels-max-vakhtbovych-7166551_2.svg" loading="lazy" width="350" alt="" class="image-12"><img src="/frontendassets/images/pexels-max-vakhtbovych-6297086_2.png" loading="lazy" sizes="100vw" srcset="images/pexels-max-vakhtbovych-6297086_2-p-500.png 500w, images/pexels-max-vakhtbovych-6297086_2.png 562w" alt="" class="image-13">
                                    <h1 class="h-40 is--abs">Sanitary Ware</h1>
                                </div>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    